---
import Layout from '../layouts/Layout.astro'
import Main from '../components/Main.astro'
const pageTitle = "Weather Dashboard"
---
<Layout pageTitle={pageTitle}>

	<Main>
	<h1 class="text-primary">Hello</h1>
	</Main>
</Layout>

