---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
const pageTitle = "Weather Dashboard";
---

<Layout pageTitle={pageTitle}>
	<Main>
		<WeatherWidget />
	</Main>
</Layout>


<script>
document.addEventListener('weatherDataFetched', function(event) {

	const eventData = event.detail;

	const dataDisplayElement = document.getElementById('tempNumber');
	if (dataDisplayElement) {
		dataDisplayElement.innerText = eventData.temp_f  
	}
})
</script> 
