---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
const pageTitle = "Weather Dashboard";
---

<Layout pageTitle={pageTitle}>
	<Main>
		<WeatherWidget />
	</Main>
</Layout>
