---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import WeatherWidget from "../components/WeatherWidget.astro";
const pageTitle = "Weather Dashboard";
---

<Layout pageTitle={pageTitle}>
	<Main>
		<WeatherWidget />
	</Main>
</Layout>


<script>


document.addEventListener('weatherDataFetched', function(event) {
console.log('Recieved event detail:', event.detail)

	//temperature data
	const temperature = event.detail.weatherData.current.temp_f;
	document.getElementById('tempNumber').innerText = `${temperature}°`

	//condition data
const icon = event.detail.weatherData.current.condition.icon;
	document.getElementById('iconSpace').innerText = icon
})
</script> 
