<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost md:text-xl">Weather Dashboard</a>
  </div>
  <div class="flex-none gap-2">
    <form class="form-control">
			<!-- input for city or zip search -->
      <input type="text" placeholder="City or Zip" class="input input-bordered w-34 md:w-auto" />
			<button type="submit" class="btn">Search</button>
    </form>

  </div>
</div>
