<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost md:text-xl">Weather Dashboard</a>
  </div>
  <div class="flex-none gap-2">
    <div class="form-control">
      <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
    </div>
    <div class="dropdown dropdown-end">

  </div>
</div>
